li {
    list-style: none;
}

h1 {
    font-size: 70px !important;
}

p {
    margin-bottom: 0 !important;
}

.header__title {
    opacity: 0.5;
}

.slider__text {
    background-color: rgba(229, 231, 231, 0.589);
    border-radius: 5px;
}